.nav-main-link .nav-main-link-name span {
    color: #0665d063;
    top: 10px;
    position: relative;
    left: 5px;
    font-size: 25px;
    font-weight: bold;
}

.invalid-feedback{
	display: block !important;
}

